/AS3_Sorcerer/*
/filter_samples/*
*.obj
/images/*
/otherStuff/*
/zlib/*
/sc_samples/*
/plugins/zeus_unpack/*
*.oca
*.exp
*.lib
*.pdb
*.idb
/plugins/old_*
*.url
*.log
*.URL
*.suo
*.user
*.ncb
*.png
*.gif
/_AS3*
/mupdf/Release/*
/mupdf/sample*
/plugins/_*.mdb
/plugins/build_db.mdb
/iTextFilters/iText_Filters/obj/*
*.rar
/plugins/zeus_unpack*
Shortcut*
SCIVBX.ocx
*_Setup*
/_modded*
_olly.dll
iTextFilters.dll.config
/scripts/old_*
old_*
new_*
/data/winhex/*
